@font-face {
  font-family: cooperhewitt;
  font-weight: lighter;
  src: url(../resources/CooperHewitt-Light.otf); }
@font-face {
  font-family: cooperhewitt;
  font-weight: normal;
  src: url(../resources/CooperHewitt-Medium.otf); }
@font-face {
  font-family: cooperhewitt;
  font-weight: bold;
  src: url(../resources/CooperHewitt-Semibold.otf); }
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cooperhewitt;
  cursor: default; }

header {
  width: 100%;
  padding-top: 48px; }

.header {
  height: auto;
  width: auto;
  text-align: center; }

.font__size-1 {
  font-size: 0.85em; }
.font__size-2 {
  font-size: 1.4em; }
.font__size-3 {
  font-size: 3.5em;
  font-weight: bold; }
.font__desc {
  font-family: 'PT Serif', serif;
  font-style: italic; }
.font__large-h {
  line-height: 1.2; }
.font__link {
  color: #52D8D8;
  text-decoration: none; }
.font__link:hover {
  color: #52D8D8;
  cursor: pointer;
  text-decoration: underline; }
.font__small-h {
  padding-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px; }

main {
  height: auto;
  width: 100%;
  text-align: center; }

.main__container--top {
  height: 500px;
  text-align: left; }
.main__container--mid {
  background-color: black;
  padding: 22px 32px 58px 32px;
  margin-top: 32px; }
.main__container--title {
  height: auto;
  width: 20%; }
.main__container--text {
  margin-top: 100px;
  float: left;
  width: 100%;
  max-width: 400px; }
.main__graphics {
  height: 80vh;
  width: 75%;
  z-index: -1;
  position: absolute;
  margin-top: 10px;
  right: 0;
  background-color: #F8F8F8; }
  .main__graphics--content {
    margin-top: 40px;
    margin-left: 110px;
    opacity: 0.35; }
.main__graphics-caption {
  position: absolute;
  display: inline-block;
  width: auto;
  padding: 10px 8px 8px 16px;
  letter-spacing: 5px;
  background-color: black;
  bottom: 50%;
  right: 0; }
  .main__graphics-caption--front {
    color: #52D8D8;
    margin-left: -2px;
    margin-top: -31px;
    z-index: 2; }
  .main__graphics-caption--back {
    color: #ED1E79;
    z-index: 1; }
.main__spacer {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 15px;
  width: 80px;
  background-color: #ED1E79; }
.main__quote {
  margin-top: 48px;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase; }
  .main__quote--credits {
    color: white;
    font-size: 1.5em; }
.main__button:before {
  content: '';
  border: 4px solid #52D8D8;
  margin-top: -8px;
  margin-left: -35px;
  width: 205px;
  height: 71px;
  position: absolute; }
.main__button:hover:before {
  cursor: pointer; }
.main__button {
  padding: 11px 40px 0px 40px;
  margin-top: 48px;
  border: 4px solid #ED1E79;
  font-size: 2.2em;
  color: #ED1E79;
  display: inline-block;
  transition: ease-in-out .1s; }
.main__button:hover {
  background: #ED1E79;
  color: #000000;
  cursor: pointer; }

footer {
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 30px 16px 16px 16px; }

.footer__title {
  text-align: center;
  font-size: 2em; }
  .footer__title--highlight {
    padding-bottom: -2px;
    border-bottom: 5px solid #ED1E79; }
  .footer__title--main {
    padding: 0px 40px 6px 40px;
    border-bottom: 7px solid #52D8D8; }
.footer__spacer {
  width: 200px;
  height: 30px;
  background-color: blue;
  margin: auto; }
.footer__column {
  width: 33%;
  padding: 48px; }
.footer__text {
  font-size: 1.25em; }
.footer__container {
  display: flex;
  flex-direction: row; }
.footer__image {
  display: block;
  height: auto;
  width: 110px;
  margin: auto;
  padding-bottom: 20px; }

.menu {
  margin-top: 30px;
  height: auto;
  font-size: 0.9em;
  flex-direction: row;
  justify-content: center; }
  .menu__item {
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
    padding-bottom: 8px;
    padding-top: 11px;
    text-align: center;
    transition: ease-in-out .1s; }
  .menu__item:hover {
    border: 3px solid #ED1E79;
    cursor: pointer; }

#particles-js {
  opacity: 0.8; }

#title {
  width: 195px;
  height: auto; }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=styles.css.map */
