@font-face {
    font-family: cooperhewitt;
    font-weight: lighter;
    src: url(../resources/CooperHewitt-Light.otf);
}
@font-face {
    font-family: cooperhewitt;
    font-weight: normal;
    src: url(../resources/CooperHewitt-Medium.otf);
}
@font-face {
    font-family: cooperhewitt;
    font-weight: bold;
    src: url(../resources/CooperHewitt-Semibold.otf);
}

$blue: #52D8D8;
$pink: #ED1E79; 

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: cooperhewitt;

    cursor: default;
}

header {
    width: 100%;
    padding-top: 48px;
}


.header {
   
    height: auto;
    width: auto;

    text-align: center;
}

.font {
    &__size-1 {
        font-size: 0.85em;
    }
    &__size-2 {
        font-size: 1.4em;
    }
    &__size-3 {
        font-size: 3.5em;
        font-weight: bold;
    }

    &__desc {
       font-family: 'PT Serif', serif;
       font-style: italic;
    }

    &__large-h {
        line-height: 1.2;
    }

    &__link {
        color: $blue;
        text-decoration: none;
    }
    &__link:hover {
        color: $blue;
        cursor: pointer;
        text-decoration: underline;
    }

    &__small-h {
        padding-bottom: 12px;

        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
    }
}



main {
    height: auto;
    width: 100%;
    text-align: center;
}

.main {
    &__container {
        &--top {
            height: 500px;
            text-align: left;
        }

        &--mid {
            background-color: black;
            padding: 22px 32px 58px 32px;
            margin-top: 32px;
        }

        &--title {
            height: auto;
            width: 20%;
        }
        
        &--text {
            margin-top: 100px;
            float: left;
            width: 100%;
            max-width: 400px;
        }
       
    }

    &__graphics {
        height: 80vh;
        width: 65%;
        
        z-index: -1;
        position: absolute;
        margin-top: 10px;
        right: 0;
        background-color: #F8F8F8;

        &--content {
            margin-top: 40px;
            margin-left: 110px;
            opacity: 0.35;
        }
    }

    &__graphics-caption {
        position: absolute;
        display: inline-block;
        width: auto;
        padding: 10px 8px 8px 16px;
        letter-spacing: 5px;
        background-color: black;
        bottom: 50%;
        right: 0;

        &--front {
            color: $blue;
            margin-left: -2px;
            margin-top: -31px;
            z-index: 2;
        }

        &--back {
            color: $pink;
            z-index: 1;
        }
    }

    &__spacer {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 15px;
        width: 80px;
        background-color: $pink;
    }

    &__quote {
        margin-top: 48px;
        color: white;
        font-size: 2.5em;
        text-transform: uppercase;

        &--credits {
            color: white;
            font-size: 1.5em;
        }
    }

    &__button:before {
        content: '';
        border: 4px solid $blue;
        margin-top: -8px;
        margin-left: -35px;
        width: 205px;
        height: 71px;
        position: absolute;
    }
    &__button:hover:before {
        cursor: pointer;
    }
    &__button {
        padding: 11px 40px 0px 40px;
        margin-top: 48px;
        border: 4px solid $pink;
        font-size: 2.2em;
        color: $pink;
        display: inline-block;

        transition: ease-in-out .1s;
    }
    &__button:hover {
        background: $pink;
        color: #000000;
        cursor: pointer;
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 30px 16px 16px 16px;
}

.footer {
    &__title {
        text-align: center;
        font-size: 2em;

        &--highlight {
            padding-bottom: -2px;
            border-bottom: 5px solid $pink;
        }

        &--main {
            padding: 0px 40px 6px 40px;
            border-bottom: 7px solid $blue;
        }
    }
    &__spacer {
        width: 200px;
        height: 30px;
        background-color: blue;
        margin: auto;
    } 
    &__column {
        width: 33%;
        padding: 48px;
    }

    &__text {
        font-size: 1.25em;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }
    &__image {
        display: block;
        height: auto;
        width: 110px;
        margin: auto;
        padding-bottom: 20px;
    }

}



.menu {
    margin-top: 30px;
    // display: flex;
    // float: right;
    height: auto;   
    // width: 80%;
    // max-width: 800px;
    font-size: 0.9em;
    


    flex-direction: row;
    justify-content: center;

    &__item {
        border-width: 3px;
        border-color: transparent;
        border-style: solid;

        padding-bottom: 8px;
        padding-top: 11px;
        text-align: center;

        transition: ease-in-out .1s;
    }

    &__item:hover {
        border: 3px solid $pink;
        cursor: pointer;
    }
}

#particles-js {
    opacity: 0.8;
}
#title {
    width: 195px;
    height: auto;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


